{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="form-container">
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
    
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.publishedYear) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a href="{{ path('app_book_index') }}">← Retour à la liste</a>
</div>
{% endblock %}